@model List<Customers>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Identificador</b></td>
            <td><b>Empresa</b></td>
            <td><b>Contacto</b></td>
            <td><b>Dirección</b></td>
            <td><b>Teléfono</b></td>
            <td><b>Fax</b></td>
            <td><b>Acciones</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td><a href="/clientes/ficha/@c.CustomerID">@c.CustomerID</a></td>
                <td>@c.CompanyName</td>
                <td>@c.ContactName <br /> <small>(@c.ContactTitle)</small></td>
                <td>
                    @c.Address <br /> 
                    <small>
                        @c.PostalCode @c.City
                        <br />
                        (@c.Country)
                    </small>
                </td>
                <td>@c.Phone</td>
                <td>@c.Fax</td>
                <td> </td>
            </tr>
        }
    </tbody>
</table>

